body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* fern work: profile */
/* body {

  box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
} */

h3 {
	/* margin: 5px 0; */
}

h6 {
	/* margin: 5px 0; */
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container-profile {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;

}

.centered {
	display: flex;
	justify-content: center;
	padding-top: 10px;

}

.card-container-profile .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container-profile .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary-profile {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary-profile.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills-profile {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
	border-radius: 5px;
}

.skills-profile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills-profile ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.pro-button {
 
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;

}


.dimProfile {
 height: 150px;
 width: 150px;
 border: 1px solid #03BFCB;
 border-radius: 50%;
 padding: 7px;
}

.smallEmail {
  font-size: small
}

.calendar-centered {
	display: flex;
	justify-content: center;
}


.area-1 {
	background:#DCDEE7;
	color: #2e2c2c;
	width: auto;
	height: 350px;
	font-size:xx-small;
	
}
.square-text {

	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
	width: 230px;
}
.square-text-area-1 {
	margin-top: 4%;
	
	/* display: flex;
	align-items: center;
	justify-content: right;
	flex-direction: row; */
	
}


.area-2 {
	background: white;
	color: #2e2c2c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 250px;
}
.area-3-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	/* display: inline-block; 
	align-items: center;
	justify-content: center;
	flex-direction: row;  */
} 

.area-3-left {
	background:#FCE2D3;
	color:#2e2c2c;
	min-width: auto;
	max-width: auto;
	width: 850px;
	height: 350px;
	min-height: auto;
	max-height: auto;
		/* flex: 0 0 65%;
	height: 250px; */

} 


#codingirl {
max-width: 150%;
display: flex;
justify-content: center;

}

.area-4-right {
	background: #E7E7E7;
	color:rgb(51, 51, 51);
	min-width: auto;
	max-width: auto;
	width: 850px;
	height: 350px;
	min-height: auto;
	max-height: auto;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	/* flex: 1;
	height: 250px; */

}

.area-5 {
	background:#DCDEE7;
	color:rgb(51, 51, 51);
	height: 350px;
}


.area-5-left {
	background: white;
	color:rgb(51, 51, 51);
	height: 250px;
	min-width: auto;
	max-width: auto;
	width: 850px
	/* flex: 0 0 65%;
	height: 250px; */

}

.area-6-right {
	background: #FCE2D3  ;
	color:rgb(51, 51, 51);
	height: 250px;
	min-width: auto;
	max-width: auto;
	width: 850px
	/* flex: 1;
	height: 250px; */

}

.lottieGreen {
	float: right;
}
.lottieGreenWrapper {
	display: flex;
justify-content: center;
}	


/* end of fern's work */

