.bar {
  background: #e7e7e7;
  height: 6rem;
}

.text {
  color: #2e2c2c;
  background-color: #e7e7e7;
}

.link-navbar {
  color: white;
}

.toggle-link {
  color: #2e2c2c;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.toggle-link:hover {
  color: #d69b7b;
}
